---
layout: default
title: STAR Lab / papers
categories:
 - papers
---

<div class="note">
For a more comprehensive list, please check out <a href="https://scholar.google.com/citations?user=d2HP6SMAAAAJ&hl=en">Harish's Google Scholar page</a>.
</div>

<div class="note">
You can find open-source code associated with the papers below in our lab's <a href="https://github.com/GT-STAR-Lab">Github profile</a>.
</div>

<!-- Preprints Section -->
{% assign preprints = site.categories.papers | where: "year", "Preprint" %}
{% if preprints.size > 0 %}
  <div class="row">
    <div class="col-md-12">
      <h1>Preprints</h1>
      <hr style="height:2px;border:none;color:#808088;background-color:#808088;" />
    </div>
  </div>
  <div class="row">
    {% for paper in preprints %}
      <div class="col-lg-4 paperbox">
        <div class="media">
          <div class="media-body">
            <div class="smallhead mb-1"><a href="{{ paper.url | absolute_url }}" class="off">{{ paper.title }}</a></div>
            <p style="font-weight: bold;" class="note">{{ paper.ref }}</p>
          </div>
          <a href="{{ paper.url }}">
            <img class="ml-3" width=100 class="media-object" src="{{ paper.image | absolute_url }}">
          </a>
        </div>
        <div class="bigspacer"></div>
        <div class="spacer"></div>
      </div>
      {% assign mod = forloop.index0 | plus: 1 | modulo: 3 %}
      {% if mod == 0 and forloop.last == false %}
        </div><div class="row">
      {% endif %}
    {% endfor %}
  </div>
{% endif %}

<!-- Published papers loop -->
{% assign papers = site.categories.papers | reject: "year", "Preprint" | sort: "year" | reverse %}
{% assign prev_year = "" %}
{% assign col_count = 0 %}
{% for paper in papers %}
  {% if paper.year != prev_year %}
    {% if forloop.first == false %}
      </div>
    {% endif %}
    <div class="row">
      <div class="col-md-12">
        <h1>{{ paper.year }}</h1>
        <hr style="height:2px;border:none;color:#808088;background-color:#808088;" />
      </div>
    </div>
    <div class="row">
    {% assign col_count = 0 %}
  {% endif %}
  <div class="col-lg-4 paperbox">
    <div class="media">
      <div class="media-body">
        <div class="smallhead mb-1"><a href="{{ paper.url | absolute_url }}" class="off">{{ paper.title }}</a></div>
        <p style="font-weight: bold;" class="note">{{ paper.ref }}</p>
      </div>
      <a href="{{ paper.url }}">
        <img class="ml-3" width=100 class="media-object" src="{{ paper.image | absolute_url }}">
      </a>
    </div>
    <div class="bigspacer"></div>
    <div class="spacer"></div>
  </div>
  {% assign col_count = col_count | plus: 1 %}
  {% if col_count == 3 %}
    </div>
    <div class="row">
    {% assign col_count = 0 %}
  {% endif %}
  {% assign prev_year = paper.year %}
  {% if forloop.last %}
    </div>
  {% endif %}
{% endfor %}
