---
layout: default
---

<div class="row align-items-start">
  <div class="col-lg-3">
    {% if page.image %}
    <img class="img-fluid mb-3" style="max-width:100%;height:auto;" src="{{ page.image | absolute_url }}">
    {% endif %}
    <div class="glyphbox note mt-4">
      {% if page.pdf %}
      <div class="smallhead">PDF</div>
      <div class="pad-left note">
        <div class="smallspacer"></div>
        <i class="fa fa-file-text-o fa-fw"></i>
        <a class="off" href="{{ page.pdf | absolute_url }}"> {{ page.ref }}</a>
      </div>
      <div class="bigspacer"></div>
      {% endif %}
      {% if page.supplement %}
      <div class="smallhead">Website</div>
      <div class="pad-left note">
        <div class="smallspacer"></div>
        <i class="fa fa-globe-pointer fa-fw"></i>
        <a class="off" href="{{ page.supplement }}">{{ page.supplement | split: '/' | last }}</a>
      </div>
      <div class="bigspacer"></div>
      {% endif %}
      {% if page.arxiv %}
      <div class="smallhead">arXiv</div>
      <div class="pad-left note">
        <div class="smallspacer"></div>
        <i class="fa fa-external-link fa-fw"></i>
        <a class="off" href="https://arxiv.org/abs/{{ page.arxiv }}">{{ page.arxiv }}</a>
      </div>
      <div class="bigspacer"></div>
      {% endif %}
      {% if page.github %}
      <div class="smallhead">GitHub</div>
      <div class="pad-left note">
        <div class="smallspacer"></div>
        <i class="fa fa-github-alt fa-fw"></i>
        <a class="off" href="http://github.com/{{ page.github }}">{{ page.github }}</a>
      </div>
      <div class="bigspacer"></div>
      {% endif %}
    </div>
  </div>
  <div class="col-lg-9">
    <div class="titlebox">
      <div class="head">
        {{ page.title }}
      </div>
      <div class="smallhead">
        <p style="font-weight: bold;">{{ page.authors }}</p>
        <p style="font-style: italic;">{{ page.journal }}, {{ page.year }}.</p>
      </div>
    </div>
    <div class="note mt-4">
      {{ content }}
    </div>
  </div>
</div>

<div class="bigspacer"></div>
